src/static/css/* linguist-vendored
src/static/drf-yasg/redoc-old/* linguist-vendored
src/static/drf-yasg/redoc/* linguist-vendored
src/static/drf-yasg/swagger-ui-dist/* linguist-vendored
src/static/drf-yasg/* linguist-vendored
src/static/css/* linguist-vendored
src/static/js/* linguist-vendored
src/static/favicon/* linguist-vendored
src/static/fonts/* linguist-vendored
