src/static/* linguist-vendored=true
src/static/css/* linguist-vendored=true
src/static/drf-yasg/redoc-old/* linguist-vendored=true
src/static/drf-yasg/redoc/* linguist-vendored=true
src/static/drf-yasg/swagger-ui-dist/* linguist-vendored=true
src/static/drf-yasg/* linguist-vendored=true
src/static/css/* linguist-vendored=true
src/static/js/* linguist-vendored=true
src/static/favicon/* linguist-vendored=true
src/static/fonts/* linguist-vendored=true

*.js linguist-detectable=true
*.html linguist-detectable=true
