{% extends 'basic/base.html' %}

{% load staticfiles %}

{% block content %}

<script>
    $.LoadingOverlay("show",
    { 
        background      : "rgba(0, 0, 0, 0.7)", 
        fontawesomeColor: "white",
        image           : "",
        fontawesome     : "fa fa-spinner fa-spin" 
    });
    
    $.ajax({
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        },
        type: 'POST',
        url: '/ajax/query/',
        data:"part="+ "{{ part }}",
        success: function(response) {
            $.LoadingOverlay("hide");
            window.location.href = "/search/" + "{{ part }}";      
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) 
        { 
            $.LoadingOverlay("hide");
            Swal.fire({ title: 'Error', text: textStatus + "\n" + errorThrown, icon: 'error', confirmButtonText: 'OK'});
            //window.location.href = "/"      
        } 
    }); 
    
</script>
   
    
{% endblock %}