{% extends 'basic/base.html' %}

{% load staticfiles %}

{% block content %}



	<div class="vertical-center text-center justify-content-center" style="position:fixed;top:20%;left:23%">
	    <div class="card border-dark" style="opacity: 0.85;width: 50rem;margin: 0 auto; float: none;">
	      <div class="card-header " style="vertical-align: middle;">
	        <p class="text-center" style="margin: 0; padding: 0">
	            <h1 style="font-family: 'SF Display'; font-weight: 600; font-size: 8.0em;cursor:default">PartsView</h1>
	        </p>
	      </div> 
	      <div class="card-body">
	        <h3 style="font-family: 'SF Display'; font-weight: 200; font-size: 3.3em;cursor:default">Electronics part search assistant</h3>
	        <div class="dropdown-divider"></div>
		        <p style="font-family: 'SF Text'; font-weight: 200; font-size: 1.2em;cursor:default">APIs used from Octopart, OCR Space, Google Speech-to-Text and MediaStream,<br> 
					written in Python 3 in Django 2 framework with JS frontend.</p>
				<div class="row">
		            <div class="col-md-4" style="text-align: center;">
		                <a href="https://www.octopart.com" target="_blank"><img src="{% static 'img/octopart.svg' %}" style="margin-top:30px;max-width:100%;max-height:100%;"></a>
		            </div>
					<div class="col-md-4" style="text-align: center;">
		                <a href="https://www.ocr.space" target="_blank"><img src="{% static 'img/ocr_space.png' %}" style="margin-top:35px;max-width:100%;max-height:100%;"></a>
		            </div>
					<div class="col-md-4" style="text-align: center;">
		                <a href="https://www.google.com" target="_blank"><img src="{% static 'img/google.png' %}" style=";max-width:100%;max-height:100%;"></a>
		            </div>
		        </div>
	        </div>                
	      <div class="card-footer">
	          <p class="text-center" style="margin: 0; padding: 0">
	              <span class="text-muted btn" style="cursor:default" disabled="true"><i class="fa fa-envelope " aria-hidden="true"></i></span>
	              <a href="mailto:parez.jakub@gmail.com"  style="color: gray;font-family: 'SF Text'; font-weight: 200;">parez.jakub@gmail.com</a> 
	          </p>
	      </div>  
	    </div>
	</div>
	
    
{% endblock %}